*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;

}

body{
    margin: 0;
    margin: 0;
}

/*Texto del menú y color */
a{
    text-decoration-line:none;
    color: white;
    font-style: normal;

}
 /*Estilo de header / Header style */
header{
    display: flex;  
    min-height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/*Alineación y tamaño logotipo en el header / Logo align and size  in the header */
.logo img{
    display: flex; 
    align-items: center;
    height: 70px;
    margin-right: 40px;
}

/*Estilo del menú / menu style */
.navegation ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: white;
}

/*Efecto hover pasar mouse por el menú / hover effect when moving the mouse over the menu*/
.navegation a:hover{
    color: #FEEA12;
}

/*Estilo fondo de la cabecera / Header background styel */
.container-degrade{
    display: flex;
    background: linear-gradient(to right, #F16F7B, #8B4047);
    margin: 0px;   
}

/*Estilo caja texto negro en la cabecera / black text box style in header*/
h1{
    display: flex;
    background-color: black;
    transform: translate(-10%);
    box-shadow: 0 0 20px rgb(0,0,0,20);
    font-family: 'arial';
    color: #FEEA12;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin: auto;
    padding: 100px;   
}

/*Estilo caja sección Somos Cultura Tecnológica / Box style section Somos Cultura Tecnológica */
.text{
    display: flex;
    color:black;
    justify-content: center;
    background: linear-gradient(to right, #FEEA12, #72EF6E, #00F3B9);
    align-content: center;
    font-size: 18px;
    text-align: center;
    font-family: Arial, sans-serif;
}

/*Inicio sección nosotras / Home section about us */
.container-card{
    display: grid; 
    font-size: 20px;
    font-family: Arial, sans-serif;
    place-items: center;
    border: #3db84d;
    box-shadow: 0px 5px 0px #feea12;
    border-radius: 5px;
    background-color: rgba(127, 255, 212, 0.253);
    width: 50vh;
    height: 40vh; 
    margin: 8%;    
}

p{
    font-size: 15px;
    width: 70%;
    font-family: Arial, sans-serif;
}

    /* imagen de nosotras 7 Image of us*/
    .image-box{
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: row;
    align-items: flex-start;
    position: absolute;
    left: 60%;
    top: 75%; 
}

/*Inicio sección Talleres  / Workshop section*/

.talleres-section {
    background-color: #FEEA12; /* Color amarillo de fondo / Background yellow color */
    padding: 20px; /* Espaciado interno / Internal spacing */
    font-weight: normal; /* Texto en negrita / Bold text */
    font-size: 18px; /* Tamaño del título / size title */
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil / subtle shadow */   
}

.talleres-section p {
    font-family: arial; /* Texto normal para el párrafo / normal text for the paragraph */
    font-size: 15px; /* Tamaño del párrafo / paragrapha size */
    margin: 0; /* Elimina margen extra / Eliminate extra margin */   
}

.section.container{
    height: 150px; /* Establece la altura del contenedor / Establish the container height */
    display:inline-flex; /* Usa el modelo de caja flexible en línea / Use the model flexible box in line */
    justify-content:space-between; /* Distribuye los elementos con espacio entre ellos / Distribute the elements with space between them*/
    align-items: center; /* Alinea los elementos verticalmente al centro / Aligns the elements vertically to the center */
    background-color: #00F3B9; /* Color de fondo del contenedor / background container color */
    padding: 5px; /* Agregar un espacio interno de 5 pixeles en todos los lados / Add 5 pixels of internal space on all side */
    margin: 5px; /* Agregar un espacio externo de 5 píxeles alrededor del contenedor / Add external space of 5 pixels around container */
}

.container-fluid { 
    width: 100%; /* Ocupar el 100% del ancho disponible / Occupy 100% of the avalable width */
    display: flex; /* Aplica el modelo de caja flexible / Apply felx container model */
    justify-content: center; /* Centra los elementos horizontalmente / Center elements horizontally */ 
    align-items: center; /* Centra los elementos verticalmente / Center elementos vertically */
    padding: 2%; /* Agregar un espacio interno proporcional al tamaño del contenedor / Add internal space porporcional to the size container*/
    
}
.workshop-container {
    display: flex; /* Modelo de caja flexible / Flexible box model */
    align-items: center; /* Centra los elementos verticalmente / Center elementos vertically */
    justify-content: center; /* Centra los elementos horizontalmente / Center elements horizontally */ 
    gap: 0;
    width: 100%; /* Ocupar el 100% del ancho disponible / Occupy 100% of the avalable width */
    padding: 3% 3%; /* Agregar un espacio interno de 3% en todos los lados del contenedor / Add internal space of 3% in all side of container*/
}
.workshop-container img {
    width: 30%; /* La imagen ocupa el 100% del ancho disponible / the image occupy 100% of the avalable width */
    height: auto; /* Mantiene la proporcion de la imagen / keeps the image's porportions*/ 
    border-radius: 10px; /* Esquinas redondeadas de 10px / 10px rounded corners */ 
}
.workshop-card {
    background: white; /*Fondo blanco / Background white */
    padding: 20px; /* Espacio interno de 20px / 20px Internal space */
    border-radius: 10px; /* Esquinas redondeadas de 10px / 10px rounded corners */ 
    border: 3px solid #72EF6E; /* Borde solido de 3px / 3px solid border */ 
    overflow: visible; /* Permite que elementos dentro del div sobresalgan si es necesario / Allows elements within the div to protrude if necessary */ 
    box-shadow: 0px 5px 0px #feea12; /*Sombra en la parte inferir / shadown at the bottom */
    max-width:40%; /* Ancho máximo del 40% del contenedor / 40% max width */
    justify-content: center; /* Centra los elementos horizontalmente / Center elements horizontally */ 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center; /* Centra el texto dentro del card / Center the text inside card*/
}
.workshop-card h5 {
    font-size: 1.5rem; /*Establece el tamaño de fuente / Sets the font size */
}
.workshop-card p {
    font-size: 1rem; /*El tamaño del texto en los parrafs será de 1 rem */
    text-align: center; /* Centra el texto dentro del card / Center the text inside card */
}

.workshop-card .btn {
    font-size: 1rem; /* El tamaño del texto dentro del botón será 16px / The font size inside the button*/
    padding: 8px 15px; /* Agrega espacio interno 8px Inferior y superior, 15px derecho e izquierdo / Add space 8px top botton and top, 15px left and right */
}

/*Inicio sección Herramientas / Star Tools section */
.herramientas{
    /*height:auto;*/
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00F3B9;
    font-weight: normal;
    padding: 20px;
    margin:10px 10px 50px 1px;
    border-radius: 10px;
    /*gap: 5px; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);  
}

.herramientas p {
    font-family: arial; /* Texto normal para el párrafo / Normal text to the paragraph*/
    font-size: 15px; /* Tamaño del párrafo / size paragraph */
    font-size: 18px; 
    margin: 10;
}

.tec {
    justify-content: center;
    margin: 20px 10px 0px 10px;
    font-size: 20px;
    font-weight: bold;
}

.card-body-herramientas {
    border-radius: 5%;
    min-height: 80px;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    border: 3px solid #72EF6E;
    overflow: visible;
    box-shadow: 0px 4px 0px #feea12; 
}

.card-body-herramientas > img {
    margin-top: 10px;
    padding: 25px;
    width: 50px;
    height: 50px;
}

.img-fluid {
    margin:auto;
    width: 50%;
}

.card-body-herramientas > a {
    padding: 6px;
    transition:transform 0,3s ease;
    background-origin:border-box ;
    background-clip: content-box, border-box;    
}

.card-content-h {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    padding: 2px;
    margin: 7px 0px 6px 5px;
}

.floating-btn-h {
    position: fixed;  /* Fija el botón / set the button*/
    background-color: #00F3B9;  /* Color de fondo (blanco) / white Blackground color*/
    top: 38%;     /* Lo posiciona 20px desde el fondo de la pantalla */
    right: 30px;      /* Lo posiciona 20px desde la derecha de la pantalla */
    /*color: white;     /* Color del texto */
    border-radius: 50%; /* Hace que el botón sea redondo */
    border: 2px solid  #00F3B9;
    width: 100px;       /* Ancho del botón */
    height: 100px;    /* Alto del botón */
    display: flex;
    box-shadow: 0px 4px 6px rgba(230, 226, 20, 0.8); /* Sombra */
    z-index: 1000;     /* Asegura que el botón esté por encima de otros elementos */
    transition: background-color 0.8s ease;  /* Transición para el cambio de color */
    background-image: url('../img/boton.svg');
    background-size: cover;
}


.floating-btn-h:hover {
    background-color: #feea12;  /* Cambio de color cuando se pasa el ratón */
    background-position: bottom;
    width: 120px;       /* Ancho del botón */
    height: 120px;
    transform: translateY(-15px);
}

/*general footer*/
.footer {
    background-color: #050505;
    color: white;
    padding: 15px 0;
    margin-top: 30px;
}

/*formulario footer / form of footer*/
.parent-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}
    
.form {
    grid-row: span 3 / span 3;
}

/*iconos redes zoom / zoom social media icons */
.redes a {
    transition: 0.5s ease-in-out 0s;
  }
  
.redes a:hover {
   transform: scale(1.8);
    
  }

/*Contacto direccion y telefono / address and phone contact */
.contacto {
    grid-column-start: 2;
    width: 80%;
    margin: 20px auto;

/*logo footer*/
}
.logo-footer {
    grid-column-start: 2;
    grid-row-start: 2;
}

/*iconos redes / social media icons*/
.redes {
    grid-column-start: 2;
    grid-row-start: 3;
}

/*copyright y diseñado por / copyright and design*/
.copyright {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;  
}

/* Media Queries */

/* Pantallas pequeñas (móviles) / small screens (phones) */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img {
        margin-right: 0;
    }

    .navegation ul {
        flex-direction: column;
        gap: 10px;
    }

    .container-card {
        width: 90vw;
        height: auto;
        margin: 20px 0;
    }

    .image-box {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }

    .workshop-container {
        flex-direction: column;
        gap: 30px;
    }

    .workshop-card {
        max-width: 90%;
    }

    .herramientas {
        flex-direction: column;
        padding: 20px;
    }

    .card-content-h {
        grid-template-columns: 1fr;
    }
}

/* Pantallas medianas (tabletas) 7 medium screem (Tablets) */
@media screen and (max-width: 1024px) {
    .workshop-container {
        gap: 40px;
    }

    .workshop-container img {
        width: 40%;
    }

    .card-content-h {
        grid-template-columns: repeat(2, 1fr);
    }

    .workshop-container {
        flex-direction: column;
        gap: 30px;
    }

    .workshop-card {
        max-width: 90%;
    }

}