*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;

}

body{
    margin: 0;
    margin: 0;
}

/*Texto del menú y color */
a{
    text-decoration-line:none;
    color: white;
    font-style: normal;

}

header{
    display: flex;  
    min-height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/*Alineación y tamaño logotipo en el header*/
.logo img{
    display: flex; 
    align-items: center;
    height: 70px;
    margin-right: 40px;
}

/*Estilo del menú*/
.navegation ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: white;
}

/*Efecto pasar mouse por el menú*/
.navegation a:hover{
    color: #FEEA12;
}

/*Estilo fondo de la cabecera*/
.container-degrade{
    display: flex;
    background: linear-gradient(to right, #F16F7B, #8B4047);
    margin: 0px;   
}

/*Estilo caja texto negro en la cabecera*/
h1{
    display: flex;
    background-color: black;
    transform: translate(-10%);
    box-shadow: 0 0 20px rgb(0,0,0,20);
    font-family: 'arial';
    color: #FEEA12;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin: auto;
    padding: 100px;
    
    
}

/*Estilo caja sección Somos Cultura Tecnológica*/
.text{
    display: flex;
    color:black;
    justify-content: center;
    background: linear-gradient(to right, #FEEA12, #72EF6E, #00F3B9);
    align-content: center;
    font-size: 18px;
    text-align: center;
    font-family: Arial, sans-serif;

}

/*Inicio sección nosotras*/
.container-card{
    display: grid; 
    font-size: 20px;
    font-family: Arial, sans-serif;
    place-items: center;
    border: #3db84d;
    box-shadow: 0px 5px 0px #feea12;
    border-radius: 5px;
    background-color: rgba(127, 255, 212, 0.253);
    width: 50vh;
    height: 40vh; 
    margin: 8%;
    
}

p{
    font-size: 15px;
    width: 70%;
    font-family: Arial, sans-serif;
}

    /* imagen de nosotras*/
    .image-box{
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: row;
    align-items: flex-start;
    position: absolute;
    left: 60%;
    top: 75%; 

}

/*Inicio sección Talleres */

.talleres-section {
    background-color: #FEEA12; /* Color amarillo */
    padding: 20px; /* Espaciado interno */
    font-weight: normal; /* Texto en negrita */
    font-size: 18px; /* Tamaño del título */
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    
}

.talleres-section p {
    font-family: arial; /* Texto normal para el párrafo */
    font-size: 15px; /* Tamaño del párrafo */
    margin: 0; /* Elimina margen extra */

    
}

.section.container{
    height: 150px;
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    background-color: #00F3B9;
    padding: 5px;
    margin: 5px;
}

.container-fluid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    
}
.workshop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    padding: 5% 5%;
}
.workshop-container img {
    width: 30%;
    height: auto;
    border-radius: 10px;
}
.workshop-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #72EF6E;
    overflow: visible;
    box-shadow: 0px 5px 0px #feea12;
    flex: 1;
    max-width:40%;
    justify-content: center;
    text-align: center;
}
.workshop-card h5 {
    font-size: 1.5rem;
}
.workshop-card p {
    font-size: 1rem;
    justify-content: center;
    text-align: center;   
}

.workshop-card .btn {
    font-size: 1rem;
    padding: 8px 15px;
}

/*Inicio sección Herramientas */
.herramientas{
    /*height:auto;*/
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00F3B9;
    font-weight: normal;
    padding: 20px;
    margin:10px 10px 50px 1px;
    border-radius: 10px;
    /*gap: 5px; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);  
}


.herramientas p {
    font-family: arial; /* Texto normal para el párrafo */
    font-size: 15px; /* Tamaño del párrafo */
    font-size: 18px; 
    margin: 10;
}

.tec {
    justify-content: center;
    margin: 20px 10px 0px 10px;
    font-size: 20px;
    font-weight: bold;
}

.card-body-herramientas {
    border-radius: 5%;
    min-height: 80px;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    border: 3px solid #72EF6E;
    overflow: visible;
    box-shadow: 0px 4px 0px #feea12; 
}

.card-body-herramientas > img {
    margin-top: 10px;
    padding: 25px;
    width: 50px;
    height: 50px;
}


.img-fluid {
    margin:auto;
    width: 50%;
}

.card-body-herramientas > a {
    padding: 6px;
    transition:transform 0,3s ease;
    background-origin:border-box ;
    background-clip: content-box, border-box;
    
}

.card-content-h {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    padding: 2px;
    margin: 7px 0px 6px 5px;
}

.floating-btn-h {
    position: fixed;  /* Fija el botón */
    background-color: #00F3B9;  /* Color de fondo (blanco) */
    top: 38%;     /* Lo posiciona 20px desde el fondo de la pantalla */
    right: 30px;      /* Lo posiciona 20px desde la derecha de la pantalla */
    /*color: white;     /* Color del texto */
    border-radius: 50%; /* Hace que el botón sea redondo */
    border: 2px solid  #00F3B9;
    width: 100px;       /* Ancho del botón */
    height: 100px;    /* Alto del botón */
    display: flex;
    box-shadow: 0px 4px 6px rgba(230, 226, 20, 0.8); /* Sombra */
    z-index: 1000;     /* Asegura que el botón esté por encima de otros elementos */
    transition: background-color 0.8s ease;  /* Transición para el cambio de color */
    background-image: url('../img/boton.svg');
    background-size: cover;
}


.floating-btn-h:hover {
    background-color: #feea12;  /* Cambio de color cuando se pasa el ratón */
    background-position: bottom;
    width: 120px;       /* Ancho del botón */
    height: 120px;
    transform: translateY(-75px);
}

/*general footer*/
.footer {
    background-color: #050505;
    color: white;
    padding: 15px 0;
    margin-top: 30px;
}

/*formulario footer*/
.parent-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}
    
.form {
    grid-row: span 3 / span 3;
}

/*iconos redes zoom*/
.redes a {
    transition: 0.5s ease-in-out 0s;
  }
  
.redes a:hover {
   transform: scale(1.8);
    
  }

/*Contacto direccion y telefono*/
.contacto {
    grid-column-start: 2;
    width: 80%;
    margin: 20px auto;

/*logo footer*/
}
.logo-footer {
    grid-column-start: 2;
    grid-row-start: 2;
}

/*iconos redes*/
.redes {
    grid-column-start: 2;
    grid-row-start: 3;
}

/*copyright y diseñado por*/
.copyright {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    
}
